<!-- Footer -->
<footer class="surface-section px-6 p-3 lg:px-3 mt-2">
  <div class="flex align-items-start justify-content-start flex-column">
    <div class="mb-1 flex flex-column align-items-center justify-content-start">
      <span class="material-symbols-outlined text-900 text-5xl">
        exercise
      </span>
      <p class="p-0 m-0 text-2xl font-medium text-900">
        <strong>IP</strong>Fitness
      </p>
    </div>
    <p class="mt-2 mb-0 line-height-3 font-medium text-base text-700">
      ©2023 IPFitness. All rights reserved.
    </p>
  </div>
</footer>
