<div class="w-full">
  <div class="flex flex-wrap gap-2 flex-row mb-3 justify-content-between px-4 pb-2">
    <div class="flex justify-content-center align-items-center align-self-end">
      <p-skeleton height="3rem" width="12rem" styleClass="mr-1"></p-skeleton>
      <p-skeleton
        shape="circle"
        height="2rem"
        width="2rem"
        styleClass="mr-1"
      ></p-skeleton>
    </div>
    <p-skeleton height="3rem" width="18rem" styleClass="mr-1"></p-skeleton>
  </div>
  <div class="grid px-5">
    <div class="col-12 lg:col-6">
      <div class="m-1 flex flex-row justify-content-between gap-2 shadow-2 p-4">
        <div class="flex-1">
          <p-skeleton height="2rem" width="60%" styleClass="mb-3"></p-skeleton>
          <p-skeleton
            height="1rem"
            width="50%"
            styleClass="ml-3 mb-1"
          ></p-skeleton>
          <p-skeleton
            height="1rem"
            width="50%"
            styleClass="ml-3 mb-3"
          ></p-skeleton>
          <p-skeleton width="95%" height="2rem"></p-skeleton>
        </div>
        <div>
          <p-skeleton height="4rem" width="7rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton height="2rem" width="7rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="m-1 flex flex-row justify-content-between gap-2 shadow-2 p-4">
        <div class="flex-1">
          <p-skeleton height="2rem" width="60%" styleClass="mb-3"></p-skeleton>
          <p-skeleton
            height="1rem"
            width="50%"
            styleClass="ml-3 mb-1"
          ></p-skeleton>
          <p-skeleton
            height="1rem"
            width="50%"
            styleClass="ml-3 mb-3"
          ></p-skeleton>
          <p-skeleton width="95%" height="2rem"></p-skeleton>
        </div>
        <div>
          <p-skeleton height="4rem" width="7rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton height="2rem" width="7rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</div>
