<form [formGroup]="activityForm" (ngSubmit)="onModalSubmit()">
  <p-dialog
    header="Header"
    [(visible)]="isOpen"
    [modal]="true"
    [closable]="false"
    [draggable]="true"
    [resizable]="false"
    [showHeader]="true"
    [style]="{ width: '40rem' }"
    [breakpoints]="{ '1200px': '55vw', '991px': '80vw', '575px': '90vw' }"
  >
    <ng-template pTemplate="header">
      <div class="w-full px-4 pt-2 -mb-2">
        <div
          class="flex flex-column align-items-start justify-content-start gap-2"
        >
          <p class="m-0 pt-1 font-medium text-3xl">New Activity</p>
          <span class="text-base">Create summary for today's activity</span>
        </div>
        <p-divider styleClass="mb-1"></p-divider>
      </div>
    </ng-template>

    <ng-template pTemplate="main">
      <div class="flex flex-column gap-2 px-4">
        <div class="flex flex-column gap-2 mb-2">
          <label for="activityType" class="block text-900 font-normal ml-1"
            >Type of activity (exercise)*</label
          >
          <input
            pInputText
            type="text"
            class="w-full"
            id="activityType"
            formControlName="activityType"
            name="activityType"
            placeholder="Enter activity type..."
            required
          />
        </div>
        <div class="flex flex-column gap-2 mb-2">
          <label for="trainingDuration" class="block text-900 font-normal ml-1"
            >Training duration*</label
          >
          <p-inputGroup>
            <p-inputGroupAddon>min</p-inputGroupAddon>
            <input
              pInputText
              type="number"
              class="w-full"
              id="trainingDuration"
              formControlName="trainingDuration"
              name="trainingDuration"
              min="0"
              placeholder="Enter activity duration..."
              required
            />
          </p-inputGroup>
        </div>
        <div class="flex flex-column mb-2">
          <label
            for="percentageCompleted"
            class="block text-900 font-normal ml-1"
            >Percentage complete*</label
          >
          <p-inputGroup class="mt-2">
            <p-inputGroupAddon>%</p-inputGroupAddon>
            <input
              pInputText
              type="number"
              class="w-full"
              id="percentageCompleted"
              name="percentageCompleted"
              formControlName="percentageCompleted"
              min="0"
              max="100"
              placeholder="Enter percentage..."
              required
            />
          </p-inputGroup>
          <p class="mt-1 mb-0 font-medium text-xs text-500">
            <strong>Note:</strong> It represents intensity level (percentage) of
            completed training
          </p>
        </div>
        <div class="flex flex-column gap-2 mb-2">
          <label for="result" class="block text-900 font-medium ml-1"
            >Current result (weight)</label
          >
          <p-inputGroup>
            <p-inputGroupAddon>kg</p-inputGroupAddon>
            <p-inputNumber
              formControlName="result"
              inputId="result"
              placeholder="Enter your current weight"
              mode="decimal"
              [minFractionDigits]="3"
              [maxFractionDigits]="3"
              class="w-full"
              inputStyleClass="border-noround-left"
              [required]="true"
            >
            </p-inputNumber>
          </p-inputGroup>
        </div>
        <div class="mb-0">
          <label for="summary" class="block font-normal text-900 mb-2 ml-1"
            >Training summary</label
          ><textarea
            pInputTextarea
            placeholder="Write a short summary of your training"
            formControlName="summary"
            id="summary"
            type="text"
            name="summary"
            rows="5"
            class="p-inputtextarea p-inputtext p-inputtextarea-resizable overflow-auto w-full"
          ></textarea>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div
        class="flex flex-column justify-content-between w-full flex-wrap px-4 pb-3 gap-2 -mt-2"
      >
        <p-button
          icon="pi pi-check"
          label="Submit"
          [disabled]="this.activityForm.invalid"
          class="flex-1"
          type="submit"
          styleClass="w-full bg-blue-700 border-blue-700"
        ></p-button>
        <p-button
          icon="pi pi-times"
          [outlined]="true"
          (onClick)="onCloseModal(false)"
          label="Cancel"
          class="flex-1"
          styleClass="w-full text-blue-700 border-blue-700"
        ></p-button>
      </div>
    </ng-template>
  </p-dialog>
</form>
