<div class="w-full h-full flex flex-column row-gap-3 p-1">
  <div class="border-1 border-round border-300 flex-1 px-4 py-4">
    <p-skeleton
      class="flex"
      width="75%"
      height="3rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="60%"
      height="2rem"
      styleClass="mb-1 ml-auto"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="60%"
      height="1rem"
      styleClass="mb-1 ml-auto"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="65%"
      height="3rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="55%"
      height="1rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="60%"
      height="4rem"
      styleClass="mb-1 ml-auto"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="70%"
      height="2rem"
      styleClass="mb-1 ml-auto"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="80%"
      height="1rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="60%"
      height="2rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="65%"
      height="3rem"
      styleClass="mb-1"
    ></p-skeleton>
    <p-skeleton
      class="flex"
      width="55%"
      height="1rem"
      styleClass="mb-1"
    ></p-skeleton>
  </div>

  <div class="flex flex-row gap-1 mt-auto">
    <p-skeleton height="3rem" class="flex-1"></p-skeleton>
    <p-skeleton class="w-3rem" styleClass="w-full h-full"></p-skeleton>
  </div>
</div>
